.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-image-1 {
  width: 106px;
  height: 106px;
  margin: 0 auto;
}.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  width: 850px;
  margin: 2px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 850px;
  margin: 7px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 34px 336px 0 145px;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 40px 145px 0;
}

.u-section-2 .u-image-1 {
  width: 395px;
  height: 395px;
  margin: -197px 0 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: -310px auto 0 100px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 46px auto 0 100px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 33px;
  height: 33px;
  margin: 30px auto 0 100px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: -28px 417px 0 145px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 40px auto 0 346px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 54px;
    margin-right: 271px;
    margin-left: 122px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 319px;
    margin-left: 122px;
  }

  .u-section-2 .u-image-1 {
    width: 366px;
    height: 366px;
    margin-top: -205px;
    margin-right: -22px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -287px;
    margin-left: 70px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 35px;
    margin-left: 70px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 52px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -33px;
    margin-right: 325px;
    margin-left: 122px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 34px;
    margin-left: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 55px;
    margin-right: 248px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 33px;
    margin-right: 234px;
    margin-left: 93px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -227px;
    margin-right: -50px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -312px;
    margin-left: 40px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 53px;
    margin-left: 40px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 66px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -44px;
    margin-right: 285px;
    margin-left: 93px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 43px;
    margin-left: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 34px;
    margin-right: 210px;
    margin-left: 60px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 47px;
    margin-right: 217px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -228px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -238px;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 74px;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: -52px;
    margin-right: 192px;
    margin-left: 53px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-left: 21px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 35px;
    margin-right: 118px;
    margin-left: 45px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 29px;
    margin-right: 136px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-1 {
    width: 243px;
    height: 243px;
    margin-top: -232px;
    margin-right: -60px;
  }

  .u-section-2 .u-icon-1 {
    width: 22px;
    height: 22px;
    margin-top: -186px;
    margin-left: 14px;
  }

  .u-section-2 .u-icon-2 {
    width: 22px;
    height: 22px;
    margin-top: 101px;
    margin-left: 14px;
  }

  .u-section-2 .u-icon-3 {
    width: 22px;
    height: 22px;
    margin-top: 80px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: -47px;
    margin-right: 35px;
    margin-left: 45px;
  }

  .u-section-2 .u-btn-1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 29px;
    margin-left: auto;
    margin-bottom: 34px;
    padding: 10px 59px 10px 58px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 27px;
}.u-section-4 .u-sheet-1 {
  min-height: 599px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  width: 994px;
  grid-template-rows: auto auto auto;
  margin: 0 40px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px 25px;
}

.u-section-4 .u-icon-1 {
  height: 47px;
  width: 47px;
  margin: 0 auto 0 10px;
  padding: 0;
}

.u-section-4 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: -47px 0 0 68px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px 25px;
}

.u-section-4 .u-icon-2 {
  height: 47px;
  width: 47px;
  margin: 0 auto 0 10px;
  padding: 0;
}

.u-section-4 .u-text-3 {
  width: auto;
  font-weight: 700;
  margin: -47px 0 0 68px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px 25px;
}

.u-section-4 .u-icon-3 {
  height: 47px;
  width: 47px;
  margin: 0 auto 0 10px;
  padding: 0;
}

.u-section-4 .u-text-4 {
  width: auto;
  font-weight: 700;
  margin: -47px 0 0 68px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 10px 25px;
}

.u-section-4 .u-icon-4 {
  height: 47px;
  width: 47px;
  margin: 0 auto 0 10px;
  padding: 0;
}

.u-section-4 .u-text-5 {
  width: auto;
  font-weight: 700;
  margin: -47px 0 0 68px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  margin: 29px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -42px;
    margin-left: 72px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 25px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -42px;
    margin-left: 72px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 25px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -42px;
    margin-left: 72px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 25px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -42px;
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-top: 40px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 438px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -39px;
    margin-bottom: -11px;
    margin-left: 79px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -39px;
    margin-bottom: -11px;
    margin-left: 79px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -39px;
    margin-bottom: -11px;
    margin-left: 79px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -39px;
    margin-bottom: -11px;
    margin-left: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 72px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 72px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 72px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 669px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    height: 35px;
    width: 35px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -32px;
    margin-left: 64px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-2 {
    height: 35px;
    width: 35px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -32px;
    margin-left: 64px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-3 {
    height: 35px;
    width: 35px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -32px;
    margin-left: 64px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-4 {
    height: 35px;
    width: 35px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -32px;
    margin-left: 64px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 652px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 569px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 24px 0 42px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  margin: 50px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    padding: 10px 22px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 236px;
}

.u-section-6 .u-text-1 {
  margin: 45px 25px 0 65px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 45px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-6 .u-text-1 {
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-6 .u-text-1 {
    width: 493px;
    margin-top: 38px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-6 .u-text-1 {
    width: 370px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-6 .u-text-1 {
    width: 256px;
    margin-top: 55px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 426px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 197px;
  margin: 49px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 20px 10px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 35px 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 49px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 34px;
    margin-left: 10px;
    margin-right: 10px;
  }
}